GPATH
GRTAGS
GTAGS
*.elc
*~
/.python-environments/
.DS_Store
/anaconda-mode/
/data*/
/doc/
/eshell/
/games/
/lib/
/lisp/
/override/
/site-lisp/
/snippets/
/var/
abbrevs
Makefile
mutt-init.el
recentf
.session
